body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
    min-height: calc(100vh - 292px);
}

@font-face {
    font-family: 'Font1';
    src: url(/Content/font1.ttf);
}

.navbar-light-transparent {
    background-color: rgba(44, 62, 80, 0.9) !important;
    z-index: 100000;
    position: center;
    border-bottom: 0.5px solid #e6e6e6;
    padding: 0px 10px;
    margin-right: 10px;
    position: fixed;
}
.page-footer {
    background-color: #0C2746 !important;
}
.row-footer {
  margin-left: auto;
  margin-right: auto;
  max-height:35px;
  margin-top:5px;
}
.row-footer:after {
  content: "";
  display: table;
  clear: both;
}
.footer-copyright {
    background-color: #092138 !important;
}
.h1, h2, h3, h4, h5, p {
    font-family: Font1, Helvetica, sans-serif;
}
select, input, textarea, control-label, btn {
    font-family: Font1, Helvetica, sans-serif;
    font-size: 11px;
}
.form-group {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #e6e6e6;
    padding: 30px 30px 30px 30px;
    margin-left:0px;
    float:left;
    width:100%;
}

.invalid {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 10px;
    color: #dc3545;
    font-family: Font1;
}

.treeView {
    float: left;
    overflow: auto;
    display: block;
    max-height:500px;
}
.treeNode {
    transition: all .3s;
    text-align: center;
    margin: 0;
    min-width: 100px !important;
    color: black;
    text-decoration: none !important;
    cursor: pointer;
    text-align: center;
    font-family: Font1;
    border: 1px outset #d3d3d3;
    border-left: none;
    border-right: none;
    border-top: none;
}
.selectedNode {
    color: black;
    background-color: #dff7ff;
    border: none;
    font-size: 1.2rem;
    font-stretch: extra-expanded;
    font-weight: 900;
}
.leafNode {
    border: none;
}
.hoverNode {
    color: black !important;
    background-color: #dff7ff;
    text-decoration: none;
    font-size: 1.2rem;
    font-stretch: extra-expanded;
    border: none;
}
.modal_tight{
    max-width:400px !important;
}
.loginCard {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    float: right;
    background-color: #e0e0e0;
    padding: 0;
    max-height: 70%;
    width: 300px;
    margin: auto;
    overflow-y: auto;
    border-radius: 2px;
    will-change: top, opacity;
    margin-top: 63px;
    margin-right: 10px;
    z-index: 100001;
}
.loginCardFooter {
    background-color: lightgray;
    z-index: 100001;
    width: 100%;
    border-top: 2px solid #C8C8C8;
    padding: 10px;
}
@media only screen and (max-width: 992px) {
    .loginCard {
        width: 80%;
    }
}
.container_margin {
    margin: 0 auto;
    margin-top:80px;
    max-width: 1280px;
    width: 90%;
}

@media only screen and (min-width: 601px) {
    .container_margin {
        width: 85%;
        margin-top: 80px;
    }
}

@media only screen and (min-width: 993px) {
    .container_margin {
        width: 70%;
        margin-top: 80px;
    }
}

.center-loader {
    position: fixed;
    left: 49%;
    top: 50%;
    z-index: 99999;
    float: left;
}

.navbar-dropdown-content {
    position: fixed;
    float: left;
    padding: 0;
    max-height: 70%;
    border-radius: 2px;
    will-change: top, opacity;
    z-index: 100001;
    background-color: #fff;
    display: none;
    min-width: 200px;
    width: 400px !important;
    overflow-y: auto;
    opacity: 0;
    left: 0;
    top: 63px !important;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.navbar-dropdown-content:focus {
    outline: 0;
}